.popular {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    height: 70vh;
}

.popular h1 {
    font-size: 40px;
    font-weight: 600;
    color: #171717;
    margin-top: 4%;
}

.popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    opacity: 1;
}

.popular-item {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.popular-item .item {
    margin: 5% 30px;
}

@media (max-width : 1270px) {
    .popular {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .popular-item {
        grid-template-columns: repeat(3,1fr);
    }    
}

@media (max-width : 1000px) {
    .popular-item {
        grid-template-columns: repeat(2,1fr);
    }
    
    .popular-item .item {
        margin: 5% 10px;
    }

    .popular h1 {
        font-size: 5vw;
    }

    .popular hr {
        width: 200px;
        height: 4px;
    }
}